{% extends 'base.html' %}
{% load static%}

{% block title %}
<title>Change Password</title>
{% endblock%}
{% block content %}
<div class="container mt-5">
    <div class="row mt-4">


            <div class="card py-2 px-2 bg-success mt-5 mb-lg-5">
                <h4 class="text-center text-white">Congratulations! Your password has been changed successfully.</h4>



        </div>



                <div class="col-xl-3 col-sm-6 mt-5 mb-5" style="text-align: center"><a href="{%url 'index' %}" style="text-decoration: none; text-align: center; color: black">
            <div class="bg-white rounded shadow-sm py-5 px-4"><img id="hel" src="{%static 'images/addd.jpg'%}" alt="" width="100"  class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Back to Index</h5><span class="small text-uppercase text-muted">Website</span>

            </div>
        </a>
        </div><!-- End -->


    </div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}