{% extends 'base.html' %}
{% load crispy_forms_tags%}
{% block title %}
<title>Change Password</title>
{% endblock%}
{% block content %}
<style>


        body{background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

    }
.help-block{
color:red;
font-weight:bold;
}
.errorlist{
color:red;
font-weight:bold;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div class="card py-2 px-2 mt-4">
                   <h1 class="text-center mt-2" style="font-family: sans-serif ">Change Password</h1>

                <form class="form mt-2" action="" method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <p style="text-align: center"> <button type="submit" class="btn btn-primary">Change</button>
                    </p> </form>
            </div>

        </div>
    </div>

</div>
<br>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Enter old password';
    form_fields[2].placeholder = 'Enter new password';
    form_fields[3].placeholder = 'Enter new password again';

    for (var field in form_fields){
    form_fields[field].className += ' my-2'
    }
</script>
{% endblock %}